@import '~react-leaflet-markercluster/dist/styles.min.css';

.popup .leaflet-popup-content-wrapper{
    background-color: #F9B835;
    margin-bottom: 20px;
    height: 76px;
    border-radius: 5px;
    width: auto;
}

.popup .leaflet-popup-content{
    margin: 0px;
    padding: 8px 16px;
    min-width: 96px;
    min-height: 76px;
    
}
.popupBlack{
    display: flex;
    background-color: #000;
    margin-bottom: 20px;
    height: 76px;
    border-radius: 5px;
    width: auto;

}

.popup .leaflet-popup-close-button{
    display: none;
}
.popup .leaflet-popup-tip{
    display: none;
}

.marker-cluster-small{
    background-image: url(../../assets//img//Marker_num.svg);
    background-color: rgba(1, 1,1, 0);
    background-size: cover;
    background-repeat: no-repeat;
}
.marker-cluster-small div{
   background-color:  rgba(1, 1,1, 0);
   color:#ffffff;
   font-size: 16px;
}
.marker-cluster-medium{
    background-color: rgba(1, 1,1, 0);
    background-image: url(../../assets//img//Marker_num.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.marker-cluster-medium div{
    background-color: rgba(1, 1,1, 0);
    color:#ffffff;
    font-size: 16px;
}
.marker-cluster-large{
    background-color: rgba(1, 1,1, 0);
    background-image: url(../../assets//img//Marker_num.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.marker-cluster-large div{
    background-color: rgba(1, 1,1, 0);
    color:#ffffff;
    font-size: 16px;
}
.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
    }


.location{
    position: absolute;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    z-index: 1000;
    bottom: 5%;
    right: 5%;
}