@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0.03em;
}

@layer base {
  * {
    @apply text-black
  }
  h1 {
    /* logo title */
    @apply text-blue-400 font-bold
  }


}

@layer components {
  .btn {
    @apply bg-yellow-400 rounded-full text-white font-medium;
    @apply py-2 px-5 w-max inline-block;
  }
  .home_switch_on{
    @apply bg-blue-400  text-white font-medium py-1.5 px-3.5 w-max inline-block shadow-btn
  }
  .home_switch_off{
    @apply bg-white border border-blue-400 text-blue-400 font-medium py-1.5 px-3.5 w-max inline-block 
  }

  .line {
    @apply  border-b-2  border-blue-400;
  }
}

@layer utilities {
  .w-176 {
    width: 80rem;
  }
  

}